input {
  margin: 3px 3px 3px 5px;
}
.notify {
  color:green; font-size: 16;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}